<h1>Welcome to Car Garage!</h1>

<h3>Please use your email address and password to sign up!</h3>

<form action= "/signup" method="post">
  <br>
  <p>
  <input type="text" name="username" placeholder="Username:">
    <input type="text" name="email" placeholder="Email:">
    <input type="text" name="password" placeholder="Password:">
    <input type="submit" value="Sign Up">
  </p>
  <br>
<h3><a href="/">Back</a></h3>
</form>
