<h1>Welcome to CarGarage!</h1>

<h3>Please use your email address and password to sign up!</h3>

<%= "Please include your email and password!" if @user && @user.errors.any? %>
<form action= "/signin" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
  </p>

<p>
  <label for="username">Username:</label>
   <input type="text" name="username" id="username">
 </p>

  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
  </p>
 <input type="submit" name="submit" id="submit" value="Sign In">

<h3><a href="/">Back</a></h3>
</form>
