<h1>Welcome, <%= Helpers.current_user(session).username%>!</h1>
<br>
<h2>Submit a new car!</h2>
    <form action="/rocks/new" method="post">
        <label for="name">Name:</label>
        <input type="text" name="car[name]" id="name">
        <label for="description">Color:</label>
        <textarea type="text" name="car[color]" id="description" rows="5" cols="30"></textarea>
        <label for="model_year">Model Year:</label>
        <input type="text" name="car[year]" id="model_year">
        <label for="company">Company:</label>
        <input type="text" name="company" id="company">
        <br>
        <br>
        <input type="submit" name="submit" value="submit" id="submit">
    </form>
<br>
<h4>Note: In order for you to submit your car please provide information for all fields.</h4>
<br>
<h3><a href="/home">Back to homepage.</a></h3>
