<div class="container">
  <header><img src="/images/a254e7aef0642ab03aff49a6856b5eb5e4b4b1e8.jpg" height="300" width="450" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Car Garage!</h2>

    <div class="content">
      <p>Hey there! Welcome to Car Garage! On our website you will be able to signup with your email address and save any and all cars you have driven over the years in our database!
        Just enter the name, model year, color and company of your car!</p>
    </div>

  <h3><a href="/signin">Sign In!</a> or <a href="/signup">Sign Up!</a></h3>
